@import './button-map.scss';

.container {
    background-color: var(--btn-primary-background-color);
    border: none;
    border-radius: 4px;
    color: var(--btn-primary-font-color);
    font-family: var(--primary-font-family);
    font-size: 1.6rem;
    font-weight: var(--btn-font-weight-semibold);
    height: $btn-height-size-medium;
    min-width: 80px;
    overflow: hidden;
    position: relative;
    width: $btn-max-width-extra-small;

    &[btn-size='large-btn'] {
        height: $btn-height-size-large;
    }

    &[btn-size='small-btn'] {
        font-size: 1.2rem;
        height: $btn-height-size-small;
        min-width: 48px;
    }

    &[btn-disable=true] {
        background-color: var(--disabled-text);
        height: $btn-height-size-large;
    }

    &[btn-type='secondary-btn'] {
        background-color: var(--btn-secondary-background-color);
        color: var(--btn-secondary-font-color);
    }

    &[btn-type='tertiary-btn'] {
        background-color: var(--btn-secondary-font-color);
        border: 2px solid var(--btn-secondary-background-color);
        color: var(--btn-secondary-background-color);

    }

    &[btn-type='floating-btn'] {
        background-color: var(--neutral);
        box-shadow: 0 8px 12px 3px rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        color: var(--secondary);
        height: $btn-height-size-large;
        max-width: $btn-max-width-extra-small;
    }
}

.tertiary-disabled {
    background-color: var(--btn-secondary-font-color);
    border: 2px solid var(--disabled-text);
    border-radius: 4px;
    color: var(--disabled-text);
    font-family: var(--primary-font-family);
    font-size: 1.6rem;
    font-weight: var(--btn-font-weight-semibold);
    height: $btn-height-size-small;
    min-width: 48px;
    overflow: hidden;
    position: relative;
    width: $btn-max-width-extra-small;
}

.link-container {
    color: var(--secondary);
    font-family: var(--primary-font-family);
    font-size: $btn-font-size-link-large;
    font-weight: var(--btn-font-weight-semibold);
    width: $btn-width-link;

    &[btn-size='small-btn'] {
        font-size: $btn-font-size-link-small;
    }
}

.link-container:hover {
    height: 36px;
}

i {
    color: var(--secondary);

    &[btn-size='icon-btn-type1'] {
        font-size: 32px !important;
    }

    &[btn-size='icon-btn-type2'] {
        font-size: 24px !important;
    }

    &[btn-size='icon-btn-type3'] {
        font-size: 20px !important;
    }

    &[btn-size='icon-btn-type4'] {
        font-size: 16px !important;
    }

    &[btn-disable=true] {
        color: var(--disabled-text);
    }
}